$mainColor: #28231D;
$onHover: #E3242B;
$amazongreen: #007185;
$amazon: #f3d078;
$amazonorange: #FF8F00;
.orderbody{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    .container{
        width: 90vw;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 5vw;
        .top{
            background-color: rgb(235, 232, 232);
            padding-left: 16px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .orderstatuses{
                font-size: 18px;
            }
            .items{
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
                span {
                    padding: 2px 2px;
                    font-size: 13px;
                    cursor: pointer;
                    width: calc(33.33% - 10px); /* Adjust the width for three items per row */
                    box-sizing: border-box; /* Include padding and border in the width calculation */
                  }
                  
                  .active {
                    border-top: 1px solid red;
                    color: black;
                    background-color: rgb(221, 219, 219);
                  }
            }
        }
        .down{
            .dTop{
                background-color: rgb(247, 247, 247);
                padding: 16px;
                color: $onHover;
            }
            .dDown{
                background-color: rgb(255, 255, 255);
                min-height: 100vh;
            }

        }

    }
}