.categoryimage{
    width: 100vw;
    height: 25vw;
    background-color: #ee4d2d;
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
}
.homeseperator{
    width: 100vw;
    height: 2.5vw;
    background-color: rgb(241, 237, 237);
  }

  .itemsbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.staticnavbar{
    position: sticky;
    top: 0; /* Stick to the top of the container */
    z-index: 999;
}
.pagenation{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    .prevpagee{
        color: lightgrey;
        display: flex;
        align-items: center;
        gap: 2px;
        .image{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                height: 4vw;
            }
        }
    }
    .nextpage{
        display: flex;
        align-items: center;
        gap: 2px;
        color: black;
        .image{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                height: 4vw;
            }
        }
    }
}