$mainColor: #28231D;
$onHover: #E3242B;
$amazongreen: #007185;
$amazon: #f3d078;
$amazonorange: #FF8F00;
.cardcategory{
    min-height: 70vw;
    display: flex;
    flex-direction: column;
    .cctop{
        margin-left: 15px;
        margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
        .cctopleft{
          text-decoration: none;
            font-size: 15px;
            font-weight: 500;
            background: linear-gradient(to right, #E3242B, #eb3238); /* Adjust the second color as needed */
            -webkit-background-clip: text; /* Ensures the text is shown only where the gradient background is visible (for Webkit browsers) */
            color: transparent; 
        }
        .cctopright{
            display: flex;
            align-items: center;
            font-size: 10px;
            color: gray;
            .ccicon{
              display: flex;
              align-items: center;
              img{
                height: 3vw;
              }
            }
            span{
                display: flex;
                align-items: center;
            }
        }
    }
    .ccnegotiator {
        display: flex;
        margin-right: 15px;
        margin-left: 15px;
        height: 8vw;
        justify-content: space-evenly;
        gap: 10px;
      
        .itemccn {
          flex-grow: 1;
          display: flex;
          align-items: center;
          gap: 3px;
          font-size: 10px;
          .ccicon{
            display: flex;
            align-items: center;
            img{
              height: 3vw;
            }
          }
          &:nth-child(2) {
           display: flex;
           align-items: center;
           justify-content: center;

          }
      
          &:last-child {
            display: flex;
            justify-content: flex-end;
          }
        }
      }
      
      
    .cccover{
        margin-left: 15px;
        margin-right: 15px;
        background-color: lightgray;
        height: 20vw;
        .cccoverinside{
          width: 100%;
          z-index: 999;
          height: 20vw;
          background-size: cover; /* Adjust as needed */
          background-position: center; /* Adjust as needed */
          img{
            height: 20vw;
            width: 100%;
            object-fit: cover;
            z-index: 999;
          }
        }

        
    }
    .loading {
      position: relative;
      overflow: hidden;
      z-index: 1;
    }
    
    .loading::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, transparent 0%, #f0f0f0 50%, transparent 100%);
      animation: shimmer 1.5s infinite linear;
      z-index: -1; /* Set the z-index to a value lower than the child elements */
    }
    
    @keyframes shimmer {
      0% {
        left: -100%;
      }
      100% {
        left: 100%;
      }
    }
    



      .imageproductsarae{
        margin-top: 5px;
        margin-left: 15px;
        overflow-x: scroll;
        display: flex;
      }::-webkit-scrollbar {
        width: 0px;
      }
      
      ::-webkit-scrollbar-track {
        background: none;
      }
      
      ::-webkit-scrollbar-thumb {
        background: none;
      }
      
      .imageproductsarae:hover::-webkit-scrollbar-thumb {
        background: none;
      }
}