.containerpay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: black;
}
.worderbtn{
    background-color: #ee4d2d;
    padding: 5px 20px;
    border-radius: 7px;
    cursor: pointer;
    color: white;
    margin-top: 10px;
}